<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="visibleState">

    <!-- Modal content -->
    <div class="modal-content">
           
        <button class="close" (click)="OnNeedToClose()">
            &times;
        </button>
        <h1>New Post</h1>
        <div class="divider"> </div>
        
        <textarea [(ngModel)]='feedNotifierService.GetSessionCardData().content' class="content-text-area"
            placeholder="What do you want to say..."></textarea>
           
        <div class="label-area">
                <button (click)="AddNewPost()" class="post-button" type=button mat-button> Post </button>
            <div class="label-input-container">
                <div class="label-input-label-output">
                    <textarea class="label-display" placeholder="Label Sometshing"
                        [(ngModel)]='this.labelService.GetSessionLabel().labelContent'></textarea>
                    <div class="labels-tags" *ngFor="let k of labelService.GetSessionLabels()">
                        <label class="label-labelelements"> {{ k.GetLabelContent()  }} </label>
                    </div>
                </div>
                <div class="label-dropdown-contentt">
                    <!-- When one of these buttons is clicked it needs to send an index of the label
                    to the label tag of the current post
                    -->
                    <button class="dropdown-button" *ngFor="let label of labelService.GetGlobalLabels()" (click)="AddNewLabelFromLabel(label)"> {{label.GetLabelContent()}} </button>
                </div>
            </div>
            <div class="label-dropdown">

                <button (click)="AddNewLabel()" class="add-label-button" type=button mat-button> Add Label </button>
            </div>
        </div>
        
    </div>

</div>