/* The Modal (background) */
.modal {
    display: show; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    top: 50%;
    border: 1px solid #888;
    width: 65%;
    height: 50%;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 1px 2px 12px rgb(46, 46, 46);
    transition: opacity 2s ease-in-out;
    border-top: 35px solid rgb(74, 74, 220);

  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-width: 0;
    outline: none;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .content-text-area
  {
    width: 30%;
    height: 20px;
    padding: 12px 20px;
    box-sizing: none;
    outline: none;
    border: 0px solid #ccc;
    border-bottom: 1px solid;
    border-color:  rgb(184, 184, 184);
    background-color: #f8f8f8;
    font-size: 16px;

    -webkit-transition: width .4s ease-out, border-color 1s linear, transform .2s linear; /* Safari prior 6.1 */
    transition: width .4s ease-in-out, border-color 1s linear, transform .2s linear;
  }

  .content-text-area:focus
  {
    width: 40%;
    border-color: rgb(74, 74, 220);
    transform: scale(1.02,1.02);
    /* transform: scale(.2, 0); */

  }

.post-button
{
  border-radius: 2px;
  background-image: linear-gradient(to bottom right,rgb(128, 0, 255), rgb(108, 103, 201));
  width: 140px;
  height: 35px;
  color: white;
  top: 0%;
  left: 0%;
  margin-top: 10px;
}

  .add-label-button
{
    border-radius: 2px;
    background-image: linear-gradient(to bottom right,rgb(128, 0, 255), rgb(108, 103, 201));
    width: 140px;
    height: 35px;
    color: white;
    top: 100%;
    left: 0%;
    margin-top: 10px;
}

.label-dropdown
{
    position: relative;
    height: 30%;
    width: 25%;
}

.label-dropdown:hover .label-dropdown-content
{
    display: block;
}

.label-dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: scroll;
}

  .dropdown-button
  {
    color: rgb(2, 2, 2);
    background-color: rgb(238, 238, 238);
    padding: 12px 16px;
    width: 100%;
    border: 0px;
    text-decoration: none;
    display: block;
    outline: none;
    padding-right: 10px;
    transition: padding-right 1s linear;
    -webkit-transition: padding-right 0.3s linear;
  }

  .dropdown-button:hover
  {
    background-color: rgb(172, 172, 172);
    padding-right: 20px;
  }
  
  .label-display
  {
      position: relative;
      display: inline-block;
      width: 30%;
      height: 20px;
      margin-top: 20px;
      padding: 12px 20px;
      box-sizing: none;
      outline: none;
      border: 0px solid #ccc;
      border-bottom: 1px solid;
      border-color:  rgb(184, 184, 184);
      background-color: #f8f8f8;
      color: black;
      font-size: 12px;
      resize: none;
      overflow: auto;
      
      -webkit-transition: width .4s ease-out, border-color 1s linear, transform .2s linear; /* Safari prior 6.1 */
      transition: width .4s ease-in-out, border-color 1s linear, transform .2s linear;
  }

  .label-display:focus-within
  {
    width: 40%;
    border-color: rgb(74, 74, 220);
    transform: scale(1.02,1.02);
  }

  .label-input-container
  {
    width: 80%;
  }

  .label-input-container:focus-within .label-dropdown-contentt
  {
      display: block;

  }

  .label-dropdown-contentt
  {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: scroll;
  }

  .label-input-label-output
  {
    display: inline-block;
    width: 450px;
  }

  .labels-tags
  {
    display: inline-block;
  }

  .label-labelelements
  {
    display: inline-block;
    margin-left: 10px;
    width: auto;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: rgb(92, 92, 255);
    color: white;
    border-radius: 25px;
  }

  .divider 
  {
    background-color: rgb(74, 74, 220);;
    width: 100%;
    height: 2px;
    margin-top: 2em;
    margin-bottom: 2em;
  }