<h1>
    Feed
</h1>

<mat-card class="container-card">
    <mat-card class="feed-card" *ngFor="let artist of cardsUsers">
            <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ artist }}</mat-card-title>
                    <mat-card-subtitle> Some Song by {{ artist }} </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                    The {{ artists }} is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button type=button mat-button>LIKE</button>
                    <button type=button mat-button>SHARE</button>
                </mat-card-actions>
    </mat-card>
</mat-card>

