
.header-title
{
  color: rgb(8, 164, 96);
  left: 0%;
  top: 0%;
  margin-left: 20px;
  margin-top: 0px;
  width: 100%;
  height: 1%;
  background-color: rgb(48, 48, 48);
}

.header-title h1 
{
  position: relative;
  margin-left: 20px;
}

.feed-card
{
    margin-bottom: 6em;
    color: rgb(255, 255, 255);
    height: 190px;
    font-size: 12px;
    width: 1050px;
    border-radius: 1px;
    top: 60px;
    background-image: linear-gradient(to bottom right,rgb(128, 0, 255), rgb(108, 103, 201));
    margin-left: 40px;
    border-left: 5px solid rgb(255, 177, 8);
    
    /* box-shadow: 0px -2px 3px grey; */
    /* transition: height .3s ease-in-out, width .3s ease-in-out, background-image .3s ease-in, box-shadow .1s ease-in-out, color .2s ease-in, margin-left .3s ease-in-out; */
    transition: background-image .3s ease-in, box-shadow .1s ease-in-out, color .2s ease-in, tranform .5s ease-in-out;
    -webkit-transition: -webkit-transform .5s ease; /* Safari */
    -moz-transition: -moz-transform .5s ease;
    -o-transition: -o-transform .5s ease;
  }

.feed-card:hover
{
  /* height: 205px;
  width: 1060px;
  margin-left: 65px; */
  transform: scale(1.02, 1.02);
  transform: translateX(100px);
  background-image: linear-gradient(to bottom right,rgb(128, 0, 255), rgb(235, 82, 82));
  color: rgb(255, 184, 78);
  box-shadow: -2px 3px 12px rgb(28, 28, 28);
}

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.card-content
{
  justify-content: left;
  padding-top: 40px;
  padding-left: 10px;
}

  .card-container
  {
      align-content: center;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0%;
      position: relative;
      size: relative;
  }

  .container-card
  {
    background-image: linear-gradient(to bottom right, rgb(136, 0, 255), rgb(0, 221, 255));
      size: relative;
      left: 0%;
      width: 100%;
      /* box-shadow: 0px -2px 9px black; */
      height: auto; /* for autosizing based on number of posts */
  }

  .full-page
  {
    height: 100%;
    width: 100%;
    background-color: rgb(48, 48, 48);
    top: 0%;
    overflow: auto;
  }

  .label-area
  {
    display: inline-block;
    left: 100em;

  }

  .labels
  {
    display: inline-block;
    margin-left: 10px;
    width: auto;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    text-align: center;
    background-color: rgb(92, 92, 255);
    color: rgb(255, 255, 255);
    border-radius: 25px;
  }


  .likes-container
  {
    display: inline-block;
    left: 2%;
    top: -23px;
    bottom: 10%;
    width: 100%;
    padding-left: 0px;
    padding-top: 45px;
    height: 100%;
    position: absolute;
  }


  .likes-label
  {
    background-color: rgb(59, 59, 59);
    width: 2%;
    height: 40px;
    border-radius: 1px;
    color: white;
    left: 80%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    /* margin-top: 42px; */
    padding-bottom: 10px;
    top: 10px;
    border-radius: 25px;
    align-content: right;
    position: relative;
    overflow: auto;
  }

  .likes-label:hover
  {
    color: rgb(255, 184, 78);
  }

  .card-actions
  {
    margin-bottom: 1000px;
    position: absolute;
    background-color: rgb(255, 171, 44);
    color: rgb(211, 211, 211);
    top: 100%;
    left: 0.3%;
    border-bottom-right-radius: 8px;
  }
